<template>
    <div class="bottom">
        <div class="bottom-warpper">
            <router-link tag="div" to="/discovery">
                <i class="wangyi icon-wangyi"></i>发现音乐
            </router-link>
            <router-link tag="div" to="/mymusic">
                <i class="music icon-music"></i>我的音乐
            </router-link>
            <router-link tag="div" to="/account">
                <i class="community icon-community"></i>账号
            </router-link>
        </div>
    </div>
</template>
<script>

export default {
  props: {
    index: {
      type: Number,
      default: 0
    }
  }
}

</script>
<style lang="scss" rel="stylesheet/scss">
@import '../../assets/font-icon/style.css';
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .bottom-warpper {
        color: #fff;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        font-size: 12px;
        font-weight: lighter;
        div{
            // width: 33.33%;
            flex: 1;
            padding: 7px 0 3px 0;
            color: #dfdfdf;
        }
        i{
            font-size: 24px;
            display: block;
        }
        .router-link-active {
            color: #fff;
        }
    }
}
</style>
