<template>
    <div class="account">
        <div class="header">
            <span>{{title}}</span>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Account',
  data () {
    return {
      title: '账号'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" rel="stylesheet/scss">
.header{
    height: 60px;
    line-height: 60px;
    background: #C20C0C;
    color: #FFF;
    top: 0;
    width: 100%;
    position: fixed;
}
</style>
