<template>
  <div id="app">
    <router-view></router-view>
    <v-bottom :index="2"></v-bottom>
  </div>
</template>

<script>
import bottom from './components/bottom/bottom.vue'

export default {
  data () {
    return {
      info: {}
    }
  },
  components: {
    'v-bottom': bottom
  }
}
</script>

<style lang="sass">
@import './scss/common/_index.scss'
#app
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
</style>
